/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

.cocktails-band {
  background-color: #5B53EC;
  padding: 30px 0px;
}

.cocktails-band .row {
  padding-bottom: 30px;
}
